<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Imagetastic.</title>
    <link rel="stylesheet" href="{% static 'imagersite/css/skeleton/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'imagersite/css/skeleton/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'imagersite/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'imagersite/fancybox/source/jquery.fancybox.css' %}" type="text/css" media="screen" />
</head>
<body>
<header>
    <h1>OurName</h1>
    <nav>
        <ul>
            <li><a href="/images/library" title="library">Library</a></li>
        {% if user.is_authenticated %}
            <li><a href="/profile/" title="profile">{{ user.username }}
            <li><a href="{% url 'django.contrib.auth.views.logout' %}?next=/" title="logout">Logout</a></li>
        {% else %}
            <li><a href="/login" title="login">Login</a></li>
        {% endif %}
        </ul>
    </nav>
</header>
{% block content %}
{% endblock content %}
<footer></footer>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'imagersite/fancybox/source/jquery.fancybox.pack.js' %}"></script>
</body>
</html>
