{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
{% load thumbnail %}


<h2>{{user.username}}'s Library</h2>
<section>
    <h3>Albums</h3>
    {% for album in albums %}
    <a id="inline" href="#{{album.id}}" alt"Album {{album.title}}">
        {% thumbnail album.cover.img_file "200x200" crop="center" as im %}
        <img src="{{ im.url }}">
        {% endthumbnail %}
    </a>
    <div style="display:none">
        <div id="{{album.id}}">
            <h4>{{ album.title }}</h4>
            <p>{{ album.description }}</p>
            {% for photo in album.photos.all %}
                <img src="{{photo.img_file.url}}"/>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>

<section>
    <h3>Photos</h3>
    <div class="photos">
    {% for photo in photos %}
            <a id="inline" href="#{{photo.id}}">
                {% thumbnail photo.img_file "200x200" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{photo.title}}">
                {% endthumbnail %}
            </a>
            <div style="display:none">
                <div id="{{photo.id}}">
                    <img src="{{photo.img_file.url}}"/>
                    <h4>{{photo.title}}</h4>
                    <p>{{photo.description}}
                </div>
            </div>
    </div>
    {% endfor %}
</section>

{% endblock %}
